In [1]:
import pandas as pd
import numpy as np
import datetime

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [2]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
ss = pd.read_csv('SampleSubmission.csv')
variable_def = pd.read_csv('VariableDefinitions.csv')

In [4]:
res = {'Male': 0, 'Female': 1, 'Joint Gender': 2, 'Entity': 3, 'NOT STATED': 3, 'NO GENDER': 3, 'SEX': 3}

In [5]:
train['Gender'] = train['Gender'].map(res)
test['Gender'] = test['Gender'].map(res)

In [6]:
train['Gender'] = train['Gender'].fillna(value=3)
test['Gender'] = test['Gender'].fillna(value=3)

In [7]:
lagos_zone = ['Eti-Osa','Ibeju-Lekki','Oshodi-Isolo','Amuwo-Odofin',
              'Ifako-Ijaye','Ajeromi-Ifelodun','ABULE-EGBA','AJAO-ESTATE',
             'Orile-Iganmu','Ajegunle-State']
train['State'] = train['State'].replace(lagos_zone,'Lagos')
test['State'] = test['State'].replace(lagos_zone,'Lagos')

In [8]:
ogun_zone = ['Ijebu-Ode','Ado-Ota','Ogun-Waterside','Obafemi-Owode','Ijebu-East','Ijebu-North']
train['State'] = train['State'].replace(ogun_zone,'Ogun')
test['State'] = test['State'].replace(ogun_zone,'Ogun')

In [9]:
oyo_zone = ['Ibadan-West','Ibadan-East','Ogbmosho-South','Lagelu-North',
            'Ibadan-North','Oyo-West','Oyo-East','Ibarapa-Central']
train['State'] = train['State'].replace(oyo_zone,'Oyo')
test['State'] = test['State'].replace(oyo_zone,'Oyo')

In [10]:
osun_zone = ['Ilesha-East','Ilesha-West','Ife-North','Ife-Central']
train['State'] = train['State'].replace(osun_zone,'Osun')
test['State'] = test['State'].replace(osun_zone,'Osun')

In [11]:
ondo_zone = ['Ondo-West','Ile-Oluji','Akoko-West']
train['State'] = train['State'].replace(ondo_zone,'Ondo')
test['State'] = test['State'].replace(ondo_zone,'Ondo')

In [12]:
ekiti_zone = ['Ekiti-West','Ekiti-East','Ado-Ekiti']
train['State'] = train['State'].replace(ekiti_zone,'Ekiti')
test['State'] = test['State'].replace(ekiti_zone,'Ekiti')

In [13]:
edo_zone = ['Ovia-SouthWest','Esan-Central','Esan-West','Etsako-West']
anambra_zone = ['Nwewi-South','Awka-North','Onitsha-South',
                'Onitsha-North','Awka-South','Anambra-East']

In [14]:
train['State'] = train['State'].replace(edo_zone,'Edo')
test['State'] = test['State'].replace(edo_zone,'Edo')
train['State'] = train['State'].replace(anambra_zone,'Anambra')
test['State'] = test['State'].replace(anambra_zone,'Anambra')

In [15]:
abia_zone = ['Umuahia-South','Aba-North','Aba-South']
delta_zone = ['Warri-Central','Aniocha-South','Warri-North',
              'Warri-South','Ndokwa-East','Isoko-North','Isoko-south',
             'Ughelli-North','Ethiope-East','Oshimili-North']

In [16]:
train['State'] = train['State'].replace(abia_zone,'Abia')
test['State'] = test['State'].replace(abia_zone,'Abia')
train['State'] = train['State'].replace(delta_zone,'Delta')
test['State'] = test['State'].replace(delta_zone,'Delta')

In [17]:
rivers_zone = ['Obia-Akpor','Port-Harcourt','Asari-Toru','Ogba-Ndoni']
enugu_zone = ['ENUGU-EAST','Enugu-North','Udi-Agwu','ENUGU-SOUTH']

In [18]:
train['State'] = train['State'].replace(rivers_zone,'Rivers')
test['State'] = test['State'].replace(rivers_zone,'Rivers')
train['State'] = train['State'].replace(enugu_zone,'Enugu')
test['State'] = test['State'].replace(enugu_zone,'Enugu')

In [19]:
imo_zone = ['Owerri-Municipal','Owerri-West','Aboh-Mbaise','Owerri-North','Ngor-Okpala']
anambra_zone = ['Anambra-East','Nnewi-North','Idemili-North','Nnewi-South','Idemili-south']

In [20]:
train['State'] = train['State'].replace(imo_zone,'Imo')
test['State'] = test['State'].replace(imo_zone,'Imo')
train['State'] = train['State'].replace(anambra_zone,'Anambra')
test['State'] = test['State'].replace(anambra_zone,'Anambra')

In [21]:
akwa_zone = ['Nsit-Ubium','Essien-Udim']
cross_zone = ['Calabar-Municipality']

In [22]:
train['State'] = train['State'].replace(akwa_zone,'Akwa-Ibom')
test['State'] = test['State'].replace(akwa_zone,'Akwa-Ibom')
train['State'] = train['State'].replace(cross_zone,'Cross-River')
test['State'] = test['State'].replace(cross_zone,'Cross-River')

In [23]:
abuja_zone = ['Abuja-Municipal','Central-Abuja']
kaduna_zone = ['Kaduna-North','Kaduna-South']

In [24]:
train['State'] = train['State'].replace(abuja_zone,'Abuja')
test['State'] = test['State'].replace(abuja_zone,'Abuja')
train['State'] = train['State'].replace(kaduna_zone,'Kaduna')
test['State'] = test['State'].replace(kaduna_zone,'Kaduna')

In [25]:
train['State'] = train['State'].replace('Niger-State','Niger')
test['State'] = test['State'].replace('Niger-State','Niger')
train['State'] = train['State'].replace('Kano-Municipal','Kano')
test['State'] = test['State'].replace('Kano-Municipal','Kano')

In [26]:
plat_zone = ['Jos-North','Jos-South','QuaAn-Pan']
kwara_zone = ['Ilorin-East','Ilorin-North','Ilorin-West']

In [27]:
train['State'] = train['State'].replace(plat_zone,'Plateau')
test['State'] = test['State'].replace(plat_zone,'Plateau')
train['State'] = train['State'].replace(kwara_zone,'Kwara')
test['State'] = test['State'].replace(kwara_zone,'Kwara')

In [28]:
train['LGA_Name'] = train['LGA_Name'].replace('LGA','N-A')
train['LGA_Name'] = train['LGA_Name'].replace('OGUN','Abeokuta-South')
train['LGA_Name'] = train['LGA_Name'].replace('ONDO','Akure-North')
train['LGA_Name'] = train['LGA_Name'].replace('RIVERS','Port-Harcourt')
train['LGA_Name'] = train['LGA_Name'].replace(['Ikeja G.R.A','Lagos'],'Ikeja')

In [29]:
test['LGA_Name'] = test['LGA_Name'].replace('LGA','N-A')
test['LGA_Name'] = test['LGA_Name'].replace('OGUN','Abeokuta-South')
test['LGA_Name'] = test['LGA_Name'].replace('ONDO','Akure-North')
test['LGA_Name'] = test['LGA_Name'].replace('RIVERS','Port-Harcourt')
test['LGA_Name'] = test['LGA_Name'].replace(['Ikeja G.R.A','Lagos'],'Ikeja')

In [30]:
train['State'] = train['State'].fillna('N-A')
test['State'] = test['State'].fillna('N-A')

In [31]:
train['LGA_Name'] = train['LGA_Name'].fillna('N-A')
test['LGA_Name'] = test['LGA_Name'].fillna('N-A')

In [32]:
#from sklearn.preprocessing import LabelEncoder
#LE = LabelEncoder()

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

In [34]:
train['Car_Category'] = imputer.fit_transform(train[['Car_Category']])
test['Car_Category'] = imputer.transform(test[['Car_Category']])

In [35]:
train['Subject_Car_Colour'] = imputer.fit_transform(train[['Subject_Car_Colour']])
test['Subject_Car_Colour'] = imputer.transform(test[['Subject_Car_Colour']])

In [36]:
train['Subject_Car_Make'] = imputer.fit_transform(train[['Subject_Car_Make']])
test['Subject_Car_Make'] = imputer.transform(test[['Subject_Car_Make']])

In [37]:
train['Age'] = abs(train['Age'])
test['Age'] = abs(test['Age'])

In [38]:
def conv_age(df):
    for i in df['Age']:
        if i >= 120:
            df['Age'] = df['Age'].replace(i,60)
    return df.head()

In [39]:
conv_age(train)

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,0040R73,2010-05-14,2011-05-13,0.0,30,2010-05-14,1,Saloon,Black,TOYOTA,N-A,N-A,Car Classic,0
1,0046BNK,2010-11-29,2011-11-28,1.0,79,2010-11-29,1,JEEP,Grey,TOYOTA,N-A,N-A,Car Classic,1
2,005QMC3,2010-03-21,2011-03-20,0.0,43,2010-03-21,1,Saloon,Red,TOYOTA,N-A,N-A,Car Classic,0
3,0079OHW,2010-08-21,2011-08-20,0.0,2,2010-08-21,1,Saloon,Black,TOYOTA,N-A,N-A,CarSafe,0
4,00BRP63,2010-08-29,2010-12-31,3.0,20,2010-08-29,3,Saloon,Black,TOYOTA,Ikeja,Lagos,Muuve,1

In [40]:
conv_age(test)

,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName
0,009D84L,2010-04-24,2011-03-27,3.0,25,2010-04-24,1,Saloon,As Attached,Iveco,Victoria Island,Lagos,CVTP
1,01DO2EQ,2010-01-01,2010-12-31,3.0,60,2010-01-01,4,Saloon,As Attached,TOYOTA,Victoria Island,Lagos,Muuve
2,01QM0NU,2010-10-23,2011-10-22,1.0,46,2010-10-23,1,Saloon,Black,Ford,Abuja Municipal,Abuja,Car Classic
3,024NJLZ,2010-10-14,2011-10-13,0.0,32,2010-10-14,1,Saloon,Black,TOYOTA,Kosofe,Benue,Car Classic
4,02BYET3,2010-09-16,2010-12-31,3.0,60,2010-09-16,4,Saloon,Black,TOYOTA,Victoria Island,Lagos,Muuve

In [41]:
variable_def

,ID,Unique ID for the customer
0,Policy Start Date,Date policy started
1,Policy End Date,Date policy ended
2,Gender,Gender of the customer
3,Age,Age of the customer
4,ProductName,Name of Insurance policy
5,First Transaction Date,First date payment was made
6,No_Pol,Number of policies the customer has
7,Car_Category,Type of car
8,Subject_Car_Colour,Car colour
9,Subject_Car_Make,Car make
10,LGA_Name,City where policy was purchased
11,State,State where policy was purchased
12,No_of_claims_3_mon_period,Wether the customer claimed within a 3 month p...

In [42]:
ss.shape

(5177, 2)

In [43]:
test.shape

(5177, 13)

In [44]:
date_col = ['Policy Start Date','Policy End Date','First Transaction Date']

In [45]:
for feat in date_col:
    train[feat] = pd.to_datetime(train[feat])

In [46]:
for feat in date_col:
    test[feat] = pd.to_datetime(test[feat])

In [47]:
def extract_date_info(df,cols):
    for feat in cols:
        df[feat +'_year'] = df[feat].dt.quarter
        df[feat +'_day'] = df[feat].dt.day
        df[feat +'_month'] = df[feat].dt.month
        df[feat +'_quarter'] = df[feat].dt.quarter
    df.drop(columns=date_col,axis=1,inplace=True)

In [48]:
extract_date_info(test,date_col)

In [49]:
extract_date_info(train,date_col)

In [50]:
train.drop('ID',axis=1,inplace=True)
test.drop('ID',axis=1,inplace=True)

In [51]:
train['Gender'] = train['Gender'].astype(int)
test['Gender'] = test['Gender'].astype(int)

In [52]:
train.head()

,Gender,Age,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target,Policy Start Date_year,Policy Start Date_day,Policy Start Date_month,Policy Start Date_quarter,Policy End Date_year,Policy End Date_day,Policy End Date_month,Policy End Date_quarter,First Transaction Date_year,First Transaction Date_day,First Transaction Date_month,First Transaction Date_quarter
0,0,30,1,Saloon,Black,TOYOTA,N-A,N-A,Car Classic,0,2,14,5,2,2,13,5,2,2,14,5,2
1,1,79,1,JEEP,Grey,TOYOTA,N-A,N-A,Car Classic,1,4,29,11,4,4,28,11,4,4,29,11,4
2,0,43,1,Saloon,Red,TOYOTA,N-A,N-A,Car Classic,0,1,21,3,1,1,20,3,1,1,21,3,1
3,0,2,1,Saloon,Black,TOYOTA,N-A,N-A,CarSafe,0,3,21,8,3,3,20,8,3,3,21,8,3
4,3,20,3,Saloon,Black,TOYOTA,Ikeja,Lagos,Muuve,1,3,29,8,3,4,31,12,4,3,29,8,3

In [53]:
#from sklearn.preprocessing import StandardScaler

In [54]:
#from sklearn.pipeline import Pipeline
#from sklearn.compose import ColumnTransformer

In [55]:
X = train.drop('target',axis=1)
y = train['target']

In [56]:
#num_attribs = list(X)

In [57]:
#num_pipeline = Pipeline(steps=[('std_scaler', StandardScaler())])

#full_pipeline = ColumnTransformer([('num',num_pipeline,num_attribs)])

In [58]:
#X = full_pipeline.fit_transform(X)

In [59]:
#test = full_pipeline.transform(test)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [74]:
categorical_feat = ['Gender', 'Age', 'No_Pol', 'Car_Category', 'Subject_Car_Colour',
       'Subject_Car_Make', 'LGA_Name', 'State', 'ProductName']

In [75]:
from catboost import CatBoostClassifier

In [89]:
model = CatBoostClassifier(random_state=1,random_strength=0,n_estimators=5000,
                        learning_rate=0.02,depth=12,l2_leaf_reg=10,
                        bagging_temperature=0.2,od_type='Iter',metric_period=1000,
                           od_wait=100,cat_features=categorical_feat)

In [90]:
model.fit(X_train,y_train)

0:	learn: 0.6722996	total: 116ms	remaining: 9m 37s
1000:	learn: 0.1157088	total: 1m 41s	remaining: 6m 47s
2000:	learn: 0.0618567	total: 3m 24s	remaining: 5m 6s
3000:	learn: 0.0370503	total: 5m 9s	remaining: 3m 25s
4000:	learn: 0.0272592	total: 6m 51s	remaining: 1m 42s
4999:	learn: 0.0209426	total: 8m 32s	remaining: 0us

In [92]:
y_pred = model.predict(X_train)

In [93]:
from sklearn.metrics import classification_report

In [94]:
target_names = ['class 0', 'class 1']
print('*************** Classification report on training set ********************')
print(classification_report(y_train, y_pred, target_names=target_names))

*************** Classification report on training set ********************
              precision    recall  f1-score   support

     class 0       0.92      0.99      0.95      7110
     class 1       0.79      0.34      0.48       982

    accuracy                           0.91      8092
   macro avg       0.85      0.66      0.71      8092
weighted avg       0.90      0.91      0.89      8092

In [95]:
print('*************** Classification report on testing set ********************')
print(classification_report(y_test, model.predict(X_test), target_names=target_names))

*************** Classification report on testing set ********************
              precision    recall  f1-score   support

     class 0       0.89      0.98      0.93      3514
     class 1       0.38      0.11      0.17       473

    accuracy                           0.87      3987
   macro avg       0.63      0.54      0.55      3987
weighted avg       0.83      0.87      0.84      3987

In [96]:
model.fit(X,y)

0:	learn: 0.6699108	total: 285ms	remaining: 23m 46s
1000:	learn: 0.1260905	total: 4m 12s	remaining: 16m 48s
2000:	learn: 0.0768473	total: 8m 31s	remaining: 12m 45s
3000:	learn: 0.0514449	total: 12m 35s	remaining: 8m 23s
4000:	learn: 0.0354001	total: 17m 16s	remaining: 4m 18s
4999:	learn: 0.0255715	total: 22m 8s	remaining: 0us

In [101]:
prediction = model.predict(test)

In [102]:
ss.target = prediction

In [103]:
ss.to_csv('base_model5.csv',index=False)

In [104]:
ss.head()

        ID    target
0  009D84L  0.752106
1  01DO2EQ  0.842445
2  01QM0NU  0.013718
3  024NJLZ  0.049929
4  02BYET3  0.928727